contact.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="contact">
        <xs:complexType>
            <xs:sequence>

                <xs:element name="storeName" type="xs:string"/>

                <xs:element name="customer" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>

                            <xs:element name="name" type="xs:string"/>
                            <xs:element name="email" type="xs:string"/>
                            <xs:element name="phone" type="xs:string" minOccurs="0"/>

                            <xs:element name="messageDetails">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="subject" type="xs:string"/>

                                        <xs:element name="category">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Order Status"/>
                                                    <xs:enumeration value="Product Info"/>
                                                    <xs:enumeration value="Shipping"/>
                                                    <xs:enumeration value="Returns"/>
                                                    <xs:enumeration value="Other"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>

                                        <xs:element name="message" type="xs:string"/>
                                        <xs:element name="submissionDate" type="xs:date"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>